$mainFont: 'Maven Pro', sans-serif;
$secondFont: 'Montserrat', sans-serif;


/*@import url('https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700,900'); s
/* Google Font Imports */

$primary-color: #e34949;
$secondary-color: #fff;

/* Type */

$small-font: .5em;
$medium-font: 1em;
$large-font: 2em;


$margin-top-sm: 1em;
$margin-top-md: 2.5em;
$margin-top-lg: 5em;

$margin-bottom-sm: 1em;
$margin-bottom-md: 2.5em;
$margin-bottom-lg: 5em;



/* Colors */
$font-primary: #fff;
$font-secondary: #000;


/*================================*/

body {
  margin: 0;
  font-family: $mainFont;
  font-weight: 500;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.row {
  display: flex;
}

.form {
  display: flex;
  flex-direction: column;
  min-width: 30%;
}

.title {
  font-family: $mainFont;
  margin-bottom: 0;
}

.sub-title {
  font-family: $secondFont;
}
/* Margin Top */

.mt-sm {
  margin-top: $margin-top-sm;
}

.mt-md {
  margin-top: $margin-top-md;
}

.mt-lg {
  margin-top: $margin-top-lg;
}


/* Margin Bottom */

.mb-sm {
  margin-bottom: $margin-bottom-sm;
}
.mb-md {
  margin-bottom: $margin-bottom-md;
}
.mb-lg {
  margin-bottom: $margin-bottom-lg;
}

/* Font Size */

.sm-font {
  font-size: $small-font;
}

.md-font {
  font-size: $medium-font;
}

.lg-font {
  font-size: $large-font;
}

/* Font Colors */

.prim-color {
  color: $primary-color;
}

.sec-color {
  color: $secondary-color;
}

/// END OF UTILITIES ////

input {
  border: 1px solid #b3b3b3;
padding: .5em;
text-transform: uppercase;
font-family: $mainFont;
letter-spacing: .02em;
font-weight: bold;
margin: .5em 0em;
}

a {
  text-decoration: none;
  outline: 0;
  color: #000;
}

body {
  margin: 0em;
}

.main {
  margin: 0;
  display: flex;
}

.logo {
  padding: 1em;
  font-size: 2em;
  text-transform: uppercase;
  font-family: $secondFont;
  color: #fff;
}

.text {
  text-align: center;
  font-family: $mainFont;
}

.header {
  background-color: $primary-color;
}

.product-title {
  margin-top: .8em;
  font-weight: 500;
  text-align:center;
  font-size: 1.1em;
}

.nav__container {
  width: 30%;
  height: 100vh;
}

.nav__item {
  padding: 2em;
  border: solid 1px #eee;
  font-size: 1.2em;
  display: flex;
  justify-content: space-between;
  &:hover {
    background-color: #eee;
    //transform: scale(1.02);
    //transition: transform .2s;
  }
}

.nav__image {
  height: 30px;
}

.signup-info__form {
  width: 30%;
  display: flex;
  flex-direction: column;
}

.btn {
  background-color: $primary-color;
  color: #fff;
  border: 1px solid $primary-color;
  &:hover {
    background-color: #fff;
    color: $primary-color;
    border: 1px solid #000;
    transition: .2s;
  }
}

.join-now {
  text-align: center;
  font-family: "Maven Pro", sans-serif;
  background-color: $primary-color;
  color: #fff;
  padding: .45em;
  margin: 0em .5em;
}

.pContainer {
  display: flex;
  flex-wrap: wrap;
  padding: 1em;
}

.admin--name {
  padding: 1em 2em;
}

.login-container {
  display: flex;
  justify-content: space-between;
}

.login {
  list-style-type: none;
  display: inline-flex;
}

.edit__form {
  display: flex;
  flex-direction: column;
}

.edit__title {
  margin: 1em 0;
}
.edit__body {
  margin: 1em 0;
  min-height: 15em;
}

.edit__btn {}

.post__img {
  width: 200px;
}

.product__container {
  margin: 0 1em;
  height: 250px;
  width: 250px;
  border: 1px #e6e6e6 solid;
  padding: 1em;
  display: flex;
  justify-content: center;
  &:hover {
    border-color: #eee;
    transform:scale(.98);
    transition: transform .2s;
  }
}

.product__title {
  text-transform: uppercase;
  font-weight: bold;
  font-family: sans-serif;
  text-align: center;
  font-family: $mainFont;

}

.add-product__btn {
  text-align: center;
  margin: 45% auto;
  font-weight: bold;
}

.product-img {
  width: 350px;
}
