$mainFont: 'Raleway', sans-serif;
$secondFont: 'Roboto Slab', serif;

/* Google Font Imports */

$primary-color: #000;
$secondary-color: #fff;

/* Type */

$small-font: .5em;
$medium-font: 1em;
$large-font: 2em;


$margin-top-sm: 1em;
$margin-top-md: 2.5em;
$margin-top-lg: 5em;

$margin-bottom-sm: 1em;
$margin-bottom-md: 2.5em;
$margin-bottom-lg: 5em;



/* Colors */
$font-primary: #fff;
$font-secondary: #000;


/*================================*/

body {
  margin: 0;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.row {
  display: flex;
}

.form {
  display: flex;
  flex-direction: column;
}

.title {
  font-family: $mainFont;
}

.sub-title {
  font-family: $secondFont;
}
/* Margin Top */

.mt-sm {
  margin-top: $margin-top-sm;
}

.mt-md {
  margin-top: $margin-top-md;
}

.mt-lg {
  margin-top: $margin-top-lg;
}


/* Margin Bottom */

.mb-sm {
  margin-bottom: $margin-bottom-sm;
}
.mb-md {
  margin-bottom: $margin-bottom-md;
}
.mb-lg {
  margin-bottom: $margin-bottom-lg;
}

/* Font Size */

.sm-font {
  font-size: $small-font;
}

.md-font {
  font-size: $medium-font;
}

.lg-font {
  font-size: $large-font;
}

/* Font Colors */

.prim-color {
  color: $primary-color;
}

.sec-color {
  color: $secondary-color;
}

/// END OF UTILITIES ////

a {
  text-decoration: none;
  outline: 0;
  color: #000;
}

body {
  margin: 0;
}

.mb-lg {
  margin-bottom: 5em;
}

.main {
  margin: 0;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.logo {
  padding: 1em;
  font-size: 2em;
  text-transform: uppercase;
  font-family: $mainFont;
  color: #555;
}

.btn {
  background-color: #eaeaea;
  padding: 1em 2em;
  border: #e0e0e0 solid 3px;
  color: #000;

  &:hover {
    background-color: #dedede;
  }
}

.nav--item {
  font-family: $secondFont;
  font-size: 1.2em;
}

.admin--name {
  padding: 1em 2em;
}

.login-container {
  display: flex;
  justify-content: space-between;
}

.login {
  list-style-type: none;
  display: inline-flex;
}

.post-container {
  display: flex;
  flex-direction: column;
  padding: 1em;
  margin: 1em 0;
  background-color: #f4d6d6;
  width: 500px;
  &:hover {
    background-color: #ffe1e1;
    transform: scale(.990);
    transition: .25s;
    transition-timing-function: ease-in;
  }

}

.post-title {
  margin: 0;
  color:#666;
  text-align: left;
  font-size: 2em;
  font-family: $mainFont;
}

.author-title {
  margin: 0;
  font-family: $secondFont;
  color: #555;
  float: right;
  bottom: 0;
}

.body-preview {
  font-family: $secondFont;
  color: #555;
}

.author-title::before {
  content: 'Author: ';
}

.post__container__single {
  margin: 4em;
}

.edit__form {
  display: flex;
  flex-direction: column;
}

.edit__title {
  margin: 1em 0;
}
.edit__body {
  margin: 1em 0;
  min-height: 15em;
}

.edit__btn {}
