<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/css/styles.css">
    <meta charset="utf-8">
    <title>Lightweight Blog</title>
</head>
<div class="header">
  <div class="login-container">
    <div class="logo">
      <a href="/">Blog</a>
    </div>
    <ul class="login">
      {{#currentUser}}
      <li>
        <a href="/edit">
          Hello, {{name}}
        </a>
      </li>
      <li><a href="/logout">Log out</a></li>
      <li><a href="/post">New Post</a></li>
      {{else}}
        <li><a href="/login">Log in</a></li>
        <li><a href="/signup">Sign up</a></li>
      {{/currentUser}}
    </ul>
  </div>
</div>
<div class="body">
    {{{body}}}
</div>
</html>
