<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/css/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Raleway:500|Roboto+Slab:300" rel="stylesheet">
    <meta charset="utf-8">
    <title>Store</title>
</head>
<div class="header">
  <div class="login-container">
      <a class="logo" href="/">ML BAZAAR</a>
  
  </div>
</div>
    {{{body}}}
</html>
