<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/../../public/css/styles.css">
    <meta charset="utf-8">
    <title>Lightweight Blog</title>
</head>
<div class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Blog</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      {{#currentUser}}
      <li>
        <a href="/edit">
          Hello, {{name}}
        </a>
      </li>
      <li><a href="/logout">Log out</a></li>
      <li><a href="/post">New Post</a></li>
      {{else}}
        <li><a href="/login">Log in</a></li>
        <li><a href="/signup">Sign up</a></li>
      {{/currentUser}}
    </ul>
  </div>
</div>
<div class="container">




    {{{body}}}

</div>
</html>
