<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/css/styles.css">

  <link href="https://fonts.googleapis.com/css?family=Raleway:500|Roboto+Slab:300" rel="stylesheet">

    <meta charset="utf-8">
    <title>Lightweight Blog</title>
</head>
<div class="header">
  <div class="login-container">
    <div class="logo">
      <a href="/">Blog</a>
    </div>
    <ul class="login">
      {{#currentUser}}
      <li class="nav--item btn"><a href="/post">New Post</a></li>
      <li class="nav--item btn"><a href="/logout">Log out</a></li>
      <li class="nav--item btn"><a href="/edit">Admin</a></li>
      <li class="nav--item admin--name">
          Hello, {{name}}
      </li>
      {{else}}
        <li class="nav--item btn"><a href="/login">Log in</a></li>
        <li class="nav--item btn"><a href="/signup">Sign up</a></li>
      {{/currentUser}}
    </ul>
  </div>
</div>
    {{{body}}}
</html>
