<h1>Edit</h1>
  {{#post}}
  <form action="/edit-post/{{this.id}}" method="post">
  <input name="title" type="text" class="form-control" placeholder="Title" value="{{this.title}}">
  <textarea name="body" class="form-control" placeholder="Start typing here...">{{body}}</textarea>
  <input type="submit" value="Update" class="btn btn-primary btn-block">
</form>
{{/post}}
