<div class="post__container__single">
<h1 class="title">Edit your profile</h1>
<form class="edit__form" action="/edit" method="post">
  {{#currentUser}}
  <input class="edit__title" name="displayname" type="text" placeholder="Display name" value="{{name}}">
  <textarea name="bio" class="edit__body" placeholder="Tell us about yourself!">{{bio}}</textarea>
  <input type="submit" value="Update" class="btn">
  {{/currentUser}}
</form>
</div>
