<div class="post__container__single">
<h1 class="post-title">Edit</h1>
  {{#response}}
  <form class="edit__form" action="/edit-post/{{this.id}}" method="post">
  <input name="title" type="text" class="edit__title" placeholder="Title" value="{{this.title}}">
  <input type="submit" value="Update" class="btn edit__btn">
</form>
{{/response}}
</div>
