<div class="main">
  <!--- NAV CONTAINER --->
  <div class="nav__container">
    <!--- MENU --->


    <a href="/add-product">
      <div class="nav__item">
        <span>Add Product</span><img src="/images/Box.png" class="nav__image" />
      </div>
    </a>
    <div class="nav__item">
      <span>Orders</span><img src="/images/Shopping-Basket.png" class="nav__image" />
    </div>
    <a href="/edit">
      <div class="nav__item">
        <span>Admin</span><img src="/images/User.png" class="nav__image" />
      </div>
    </a>
    <div class="nav__item">
      <span>Support</span><img src="/images/Comment.png" class="nav__image" />
    </div>
    <a href="/logout">
      <div class="nav__item">
        <span>Sign Out</span><img src="/images/Arrow.png" class="nav__image" />
      </div>
   </a>
  </div>
  <div class="pContainer">
{{#each response}}
  <div class="product__container">
    <a href="/product/{{this.id}}">
    <img class="post__img" src="{{image.src}}"/>
    <div class="product-title">
      {{title}}
    </div>
  </a>
  </div>
{{/each}}
<div class="product__container">
  <a href="/add-product">
  <p class="add-product__btn">ADD</p>
</a>
</div>
</div>

</div>
