{{#each posts}}
  <div class="post-container">
    <h1 class="post-title"><a href="/posts/{{this.id}}">
      {{title}}
    </a></h1>
    <h3 class="author-title">{{author}}</h3>
    <p class="body-preview">{{body}}</p>
  </div>
{{/each}}
