<div class="main">
{{#each response}}
  <div class="post-container">
    <a href="/posts/{{this.id}}">
    <div class="post-title">
      {{title}}
    </div>
    <img class="post__img" src="{{image.src}}"/>
  </a>
  </div>
{{/each}}
</div>
