<div class="main">
{{#each posts}}
  <div class="post-container">
    <a  href="/posts/{{this.id}}">
    <div class="post-title">
      {{title}}
    </div>
    <p class="body-preview">{{body}}</p>
    <h3 class="author-title">{{author}}</h3>
  </a>
  </div>
{{/each}}
</div>
