<form action="/post" method="POST">
  <input type="text" placeholder="Title" name="title"/>
  <input type="text" placeholder="Author" name="author"/>
  <textarea type="text" placeholder="Start Typing Here..." name="body"></textarea>
  <button type="submit">Submit</button>
</form>
