<div class="post__container__single">
<h1 class="title">Edit your profile</h1>
<form class="edit__form" action="/edit" method="post">
  <input class="edit__title" name="displayname" type="text" placeholder="Display name" value="{{name}}">
  <textarea name="bio" class="edit__body" placeholder="Tell us about yourself!">{{bio}}</textarea>
  <input name="store" type="text" placeholder="Store Name" value="{{store}}"/>
  <input type="submit" value="Update" class="btn">
</form>
</div>
