/* Google Font Imports */
/* Type */
/* Colors */
/*================================*/
body {
  margin: 0; }

.container {
  display: flex;
  align-items: center;
  flex-direction: column; }

.row {
  display: flex; }

.form {
  display: flex;
  flex-direction: column; }

.title {
  font-family: "Raleway", sans-serif; }

.sub-title {
  font-family: "Roboto Slab", serif; }

/* Margin Top */
.mt-sm {
  margin-top: 1em; }

.mt-md {
  margin-top: 2.5em; }

.mt-lg {
  margin-top: 5em; }

/* Margin Bottom */
.mb-sm {
  margin-bottom: 1em; }

.mb-md {
  margin-bottom: 2.5em; }

.mb-lg {
  margin-bottom: 5em; }

/* Font Size */
.sm-font {
  font-size: 0.5em; }

.md-font {
  font-size: 1em; }

.lg-font {
  font-size: 2em; }

/* Font Colors */
.prim-color {
  color: #000; }

.sec-color {
  color: #fff; }

a {
  text-decoration: none;
  outline: 0;
  color: #000; }

body {
  margin: 0 3em; }

.main {
  margin: 0;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap; }

.logo {
  padding: 1em;
  font-size: 2em;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  color: #555; }

.btn {
  background-color: #eaeaea;
  padding: 1em 2em;
  border: #e0e0e0 solid 3px;
  color: #000; }
  .btn:hover {
    background-color: #dedede; }

.nav--item {
  font-family: "Roboto Slab", serif;
  font-size: 1.2em; }

.admin--name {
  padding: 1em 2em; }

.login-container {
  display: flex;
  justify-content: space-between; }

.login {
  list-style-type: none;
  display: inline-flex; }

.edit__form {
  display: flex;
  flex-direction: column; }

.edit__title {
  margin: 1em 0; }

.edit__body {
  margin: 1em 0;
  min-height: 15em; }

.post__img {
  width: 200px; }

.product__container {
  margin: 2em;
  max-width: 250px; }

.product__title {
  text-transform: uppercase;
  font-weight: bold;
  font-family: sans-serif;
  text-align: center; }

.add-product__btn {
  text-align: center;
  margin: 45% auto;
  font-weight: bold; }

.product-img {
  width: 350px; }
