/* @import url("https://fonts.googleapis.com/css?family=Maven+Pro:400,500,700,900");
/* Google Font Imports */
/* Type */
/* Colors */
/*================================*/
body {
  margin: 0;
  font-family: "Maven Pro", sans-serif;
  font-weight: 500; }

.container {
  display: flex;
  align-items: center;
  flex-direction: column; }

.row {
  display: flex; }

.form {
  display: flex;
  flex-direction: column;
  min-width: 30%; }

.title {
  font-family: "Maven Pro", sans-serif;
  margin-bottom: 0; }

.sub-title {
  font-family: "Montserrat", sans-serif; }

/* Margin Top */
.mt-sm {
  margin-top: 1em; }

.mt-md {
  margin-top: 2.5em; }

.mt-lg {
  margin-top: 5em; }

/* Margin Bottom */
.mb-sm {
  margin-bottom: 1em; }

.mb-md {
  margin-bottom: 2.5em; }

.mb-lg {
  margin-bottom: 5em; }

/* Font Size */
.sm-font {
  font-size: 0.5em; }

.md-font {
  font-size: 1em; }

.lg-font {
  font-size: 2em; }

/* Font Colors */
.prim-color {
  color: #e34949; }

.sec-color {
  color: #fff; }

input {
  border: 1px solid #b3b3b3;
  padding: .5em;
  text-transform: uppercase;
  font-family: "Maven Pro", sans-serif;
  letter-spacing: .02em;
  font-weight: bold;
  margin: .5em 0em; }

a {
  text-decoration: none;
  outline: 0;
  color: #000; }

body {
  margin: 0em; }

.main {
  margin: 0;
  display: flex; }

.logo {
  padding: 1em;
  font-size: 2em;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  color: #fff; }

.text {
  text-align: center;
  font-family: "Maven Pro", sans-serif; }

.header {
  background-color: #e34949; }

.product-title {
  margin-top: .8em;
  font-weight: 500;
  text-align: center;
  font-size: 1.1em; }

.nav__container {
  width: 30%;
  height: 100vh; }

.nav__item {
  padding: 2em;
  border: solid 1px #eee;
  font-size: 1.2em;
  display: flex;
  justify-content: space-between; }
  .nav__item:hover {
    background-color: #eee; }

.nav__image {
  width: 30px; }

.signup-info__form {
  width: 30%;
  display: flex;
  flex-direction: column; }

.btn {
  background-color: #e34949;
  color: #fff;
  border: 1px solid #e34949; }
  .btn:hover {
    background-color: #fff;
    color: #e34949;
    border: 1px solid #000;
    transition: .2s; }

.join-now {
  text-align: center;
  font-family: "Maven Pro", sans-serif;
  background-color: #e34949;
  color: #fff;
  padding: .45em;
  margin: 0em .5em; }

.pContainer {
  display: flex;
  flex-wrap: wrap;
  padding: 1em; }

.admin--name {
  padding: 1em 2em; }

.login-container {
  display: flex;
  justify-content: space-between; }

.login {
  list-style-type: none;
  display: inline-flex; }

.edit__form {
  display: flex;
  flex-direction: column; }

.edit__title {
  margin: 1em 0; }

.edit__body {
  margin: 1em 0;
  min-height: 15em; }

.post__img {
  width: 200px; }

.product__container {
  margin: 0 1em;
  height: 250px;
  width: 250px;
  border: 1px #e6e6e6 solid;
  padding: 1em;
  display: flex;
  justify-content: center; }
  .product__container:hover {
    border-color: #eee;
    transform: scale(0.98);
    transition: transform .2s; }

.product__title {
  text-transform: uppercase;
  font-weight: bold;
  font-family: sans-serif;
  text-align: center;
  font-family: "Maven Pro", sans-serif; }

.add-product__btn {
  text-align: center;
  margin: 45% auto;
  font-weight: bold; }

.product-img {
  width: 350px; }
